<div class="form-group row">
  <div class="col-lg-12">
    <a href="/usuario/logout">
      <input type="button" class="btn btn-danger" style="margin-left: 80%; margin-top: 10px;" value="Sair do Sistema">
    </a>
  </div>
</div>
<h1>Lista de Usuário Cadastrados:</h1>
<div class="form-group row">
  <div class="col-md-2 p-10">
    <a href="/usuario/novo">
      <input type="button" class="btn btn-primary" value="Novo Usuário">
    </a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>        
    {{#each usuarios}}
    <tr>
      <th scope="row">{{this.dataValues.id}}</th>
      <td>{{this.dataValues.nome}}</td>
      <td>{{this.dataValues.sobrenome}}</td>
      <td>{{this.dataValues.email}}</td>
      <td><a href="/usuario/exibir/{{this.dataValues.id}}">Editar</a></td>
      <td><a href="/usuario/excluir/{{this.dataValues.id}}">Excluir</a></td>
    </tr>    
     {{/each}}
  </tbody>
</table>
